@charset "UTF-8";

.text-red {
        color:red;
}

.text-blue {
        color:blue;
}

.text-grey {
        color:grey;
}

.text-green {
        color:green;
}

.t-c {
    text-align: center;
}

.t-r {
    text-align: right;
}

.t-l {
    text-align: left;
}

.p-l-10 {
    padding-left: 10px;
}

.p-l-15 {
    padding-left: 15px;
}

.p-l-20 {
    padding-left: 20px;
}