<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>글쓰기</title>
</head>
<body>
    <hr>
    <a href="/">Main</a>
    <hr>
    <div sec:authorize="isAuthenticated()">
        <span sec:authentication="name"></span>님 환영합니다.
    </div>
    <br/>
    <div>
        <form method="POST" action="/board/write">
            <div><input type="text" placeholder="title" name="title" /></div>
            <div><textarea placeholder="content" name="content"></textarea></div>
            <button type="submit">등록</button>
        </form>
    </div>
    <p><a href="/board">[목록으로]</a></p>
</body>
</html>