<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>예제 게시판</title>
    <link rel="stylesheet" type="text/css" href="/board.css">
</head>
<body>
    <hr>
    <div sec:authorize="isAuthenticated()">
        <a href="logout">LOG-OUT</a>
    </div>
    <div sec:authorize="!isAuthenticated()">
        <a href="login">LOGIN</a>
    </div>
    <a href="/">Main</a>
    <hr>
    <div sec:authorize="isAuthenticated()">
        <span sec:authentication="name"></span>님 환영합니다.
        <div class="t-r"><a href="/board/write">글쓰기</a></div>
    </div>
    <br/>
    <table class="table table-striped t-c">
        <thead>
            <tr>
                <th>No.</th>
                <th>User_name</th>
                <th>Title</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="article, i:${list}">
                <td th:text="${article.seq}"></td>
                <td th:text="${article.username}"></td>
                <td sec:authorize="isAuthenticated()">
                    <a th:href="${'/board/read/' + article.seq}" th:text="${article.title}"></a>
                </td>
                <td sec:authorize="!isAuthenticated()" th:text="${article.title}"></td>
                <td th:text="${article.Write_DT}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>