<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/bootstrap-grid.css">
    <link rel="stylesheet" href="/bootstrap-reboot.css">
    <link rel="stylesheet" href="/board.css">
</head>
<body>
    <h2 class="t-c">비밀번호 바꾸기</h2>
    <div class="t-c" th:text="${name}"></div>
    <div class="container">
        <form th:action="@{/changePW}" method="post" class="needs-validation" novalidate>
            <div>
                <label for="current_password">현재 비밀번호(Current Password)</label>
                <div>
                    <input type="password" id="current_password" class="form-control" required name="password_now" />
                </div>
            </div>
            <div>
                <label for="new_password">새로운 비밀번호(New Password)</label>
                <div>
                    <input type="password" id="new_password" class="form-control" required name="password_new" />
                </div>
                <div class="valid-feedback">At least 4 Length</div>
            </div>
            <div>
                <label for="new_password_check">새로운 비밀번호 확인(New Password Check)</label>
                <div>
                    <input type="password" id="new_password_check" class="form-control" required name="password_new_check" />
                </div>
            </div>
            <button type="submit" class="btn btn-primary">변경하기</button>
            <button class="btn"><a href="/">취소</a></button>
        </form>
    </div>
</body>
</html>