<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Please LogIn</title>
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/bootstrap-grid.css">
    <link rel="stylesheet" href="/bootstrap-reboot.css">
    <link rel="stylesheet" type="text/css" href="/board.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/report">ReportSystem</a>
            <a class="navbar-brand" sec:authorize="!isAuthenticated()" href="/signUp">SignUp</a>
            <a class="navbar-brand" sec:authorize="!isAuthenticated()" href="login">LOG-IN</a>
            <a class="navbar-brand" sec:authorize="isAuthenticated()" href="/changePW">ChangePW </a>
            <a class="navbar-brand" sec:authorize="isAuthenticated()" href="logout">LOG-OUT </a>
        </div>
    </nav>
    <div sec:authorize="isAuthenticated()" class="t-c" style="padding-top: 20px">
        <p style="padding-top: 30px"><a href="/"><img src="/img/image.PNG"/></a></p>
        <div sec:authorize="isAuthenticated()">
            <h5><span sec:authentication="name"></span>, Welcome!</h5>
        </div>
    </div>
    <div sec:authorize="!isAuthenticated()" class="container" style="padding: 20px">
        <div style="padding-left: 190px">
            <div class="align-items-center card border-white w-75">
                <div class="t-c" style="padding-top: 20px"><a href="/login"><img src="/img/pc.PNG"/></a></div>
                <div th:if="${param.error}" class="text-danger t-c">
                    <strong>Username should be end with '@pharmcadd.com'.<br/>Check your Username and Password.</strong>
                </div>
                <div th:if="${param.logout}" class="text-danger">
                    You have been logged out.
                </div>
                <form name="f" th:action="@{/login}" method="post">
                    <div class="form-group">
                        <label for="username">UserName</label>
                            <input type="text" class="form-control" id="username" name="username" placeholder="XXX@pharmcadd.com"/>
                        <label for="password">Password </label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="password"/>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">LogIn</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>